.scheduleContainer {
  padding: 32px 5%;
  color: #333;

  table {
    // border-collapse: collapse;
    width: 100%;
    // max-width: 800px;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
  }

  td,
  th {
    text-align: left;
    padding: 8px;
    border-right: 1px solid #ddd;
  }

  tr:not(:first-child, :last-child) {
    border: 1px solid #ddd;
  }


  tr:first-child {
    background-color: #666;
    color: #fff;

    th:first-child {
      border-top-left-radius: 8px;
      border-right: none;
    }

    th:last-child {
      border-top-right-radius: 8px;
      border-right: none;
    }
  }

  tr:last-child {
    border: 1px solid #ddd;

    th:first-child {
      border-bottom-left-radius: 8px;
    }

    th:last-child {
      border-bottom-right-radius: 8px;
    }
  }

  td:first-child {
    border-bottom-left-radius: 8px;
  }

  td:last-child {
    border-bottom-right-radius: 8px;
  }

  td p {
    margin: 0;

    &.red-text {
      color: red;
    }
  }
}